PORT=********
NODE_ENV=*******

RABBITMQ_DEFAULT_USER=*************
RABBITMQ_URL=*************
RABBIT_PASSWORD=**************

DISCORD_WEBHOOK_URL=************
DISCORD_RATE_LIMIT=*

DB_HOST=*********
DB_PORT=****
DB_USER=********
DB_PASSWORD=**********
DB_NAME=*************